@model List<Student>
@{
}
<h2 class="text-center mb-5">Students Information List</h2>
<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" asp-controller="Students" asp-action="Create">New Student</a>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Course</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model)
                {
                    <tr>
                        <td>@student.Id</td>
                        <td>@student.Name</td>
                        <td>@student.Age</td>
                        <td>@student.Gender</td>
                        <td>@student.Course</td>
                        <td style="white-space:nowrap">
                            <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@student.Id" asp-controller="Students">Edit</a> |
                            <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@student.Id" onClick="return confirm('Are You Sure?')">Delete</a>
                        </td>
                    </tr>
                }
                </tbody>
                </table>
    </div>

</div>